aside{
     border: 1px solid rgb(247, 238, 238);
     height :800px;
     width : 25%;
     margin: 10px;
     background-color: rgba(27, 40, 53, 0.959);
     border-radius: 10px;
}

.block2{
    border:1px solid black;
    height: 50px;
    width:50px ;
    background-color: rgb(184, 101, 192);
    border-radius: 15px;
    margin:20px
}

