.Trigger{
    background:white;
    color : black;
    padding: 10px;
    margin-left: 10px;
     border:1px solid #1E90FF;
    width:200px;
    height:30px;
    border-radius:3px;
    display:flex;
    justify-content:flex-start;
    align-items:center;

}
.text{
   
    margin-left: 50px;
    font-family: sans-serif;
}
.handlecss{
      overflow: hidden;
      clip-path: circle(50% at 25% 25%); 
       height:20px;
      width:20px;
      transform: rotate(290deg);
      background: yellowgreen;
      
}

